.addWrapper {
  display: flex;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;
}

.formData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  flex-direction: column;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.nameBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.labelBox {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 10%;
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 45%;
}

label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #444;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  color: #444;
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
input[type="date"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
}

input[type="date"]:hover,
input[type="date"]:focus {
  border-color: #333;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.addImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.progress {
  margin-top: 10px;
  width: 100%;
}

.section {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.sectionInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.removeSectionButton {
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #f44336;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.addSectionButton {
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.warningSuccess {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #4caf50;
}
