.collectionWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  height: 60vh;
  overflow-y: scroll;
  align-content: center;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.collectionWrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera but keeps the function*/
}

.selectWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: #fff;
  max-width: var(--cardWidth);
  min-height: var(--cardHeight);
  max-height: var(--cardHeight);
  width: 60%;
}

.cardImg {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;

  border: 1px solid #ddd;
  margin-right: 20px;
}
.contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topBoxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameBox {
  margin: 0;
  width: 70%;
  height: 24px;
}
.nameBox p {
  margin: 0;
}
.textBox {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 100%;
  margin-bottom: 2%;
}

h2 {
  margin: 0;
  font-size: 14px;
}
h3 {
  margin: 0;
  font-size: 14px;
}
.dates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cardWrapper h2,
.cardWrapper p {
  overflow-wrap: break-word;
}
.cardWrapper p {
  word-break: break-all;
}

.section {
  padding-top: 5px;
}

.section h3 {
  text-decoration: underline;
}
.section p {
  margin: 0;
}
.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.loadMoreStories {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--textColor);
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.loadMoreStories:hover {
  background-color: #d9d9d9;
}

/* test */

.selectWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.buttons {
  flex-wrap: wrap;
}

.selectWrapper .selctionBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.selectWrapper .selctionBar label {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--textColor);
}

.selectWrapper .selctionBar select {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: var(--roundedBorders);
}

.selectWrapper .selctionBar select:hover,
.selectWrapper .selctionBar select:focus {
  border-color: #666;
}

.selectWrapper .selctionBar .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selectWrapper .selctionBar .buttons button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: var(--textColor);
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: var(--roundedBorders);
  cursor: pointer;
}

.selectWrapper .selctionBar .buttons button:hover {
  background-color: var(--DarkGreen);
}

.selectWrapper .selctionBar .buttons button.active {
  background-color: var(--DarkGreen);
  color: #fff;
}

.selectWrapper .selctionBar .buttons button.active:hover {
  background-color: var(--DarkGreen);
  color: var(--textColor);
}

@media screen and (max-width: 900px) {
  .cardWrapper {
    flex-wrap: wrap;
    max-height: none;
    min-height: fit-content;
  }
  .contentWrapper {
    height: fit-content;
  }
  .buttonsWrapper,
  .topBoxes {
    display: block;
  }
  .buttonsWrapper button {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .dates {
    align-items: flex-start;
  }
}
