.editContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxSize {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 0 10px;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  background-color: #f2f2f2;
}

.closeButton {
  margin: 20px;
  right: 5%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  z-index: 1;
}
.closeButton:hover {
  background-color: rgba(255, 255, 255, 1);
}
.closeButton svg {
  width: 24px;
  height: 24px;
  color: #333;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 5% 0;
}
.topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.leftSide {
  display: flex;
  flex-direction: column;
}
.rightSide {
  display: flex;
  flex-direction: column;
}

.imgcontainer {
  justify-content: center;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.img {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
}

.sectionContainer {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}

.sectionBox {
  width: 100%;
  display: flex;
}

.deleteDtn,
.cancelBtn {
  background-color: var(--Red100);
}

.editButton,
.submitBtn,
.sectionBtn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 8px 50px;
  border: none;
  background-color: var(--Green100);
  border-radius: var(--roundedBorders);
}
.editButton:hover,
.submitBtn:hover {
  background-color: var(--Green50);
}

.submitBtn,
.cancelBtn {
  width: 25%;
}

.btnBox {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.editForm label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}
.editForm textarea {
  width: 100%;
  height: 150px;
}
.editForm input,
.editForm textarea {
  background-color: white;
  margin: 0 10px;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.editForm button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: var(--roundedBorders);
}

.btnSpan {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  gap: 20px;
}

.cancelBtn {
  color: var(--textDelete);
}
