.container h1 {
  font-size: 16px;
}

.container input {
  width: 90%;
  padding: 8px 0px 8px 8px;
  margin-bottom: 10px;
  border-radius: var(--roundedBorders);
}

.container label {
  color: white;
}

.container button {
  margin-bottom: 20px;
}
.alert {
  padding: 20px;
  background-color: #f2f2f2;
  color: var(--textDelete);
}

.closebtn {
  margin-left: 15px;
  color: var(--textDelete);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.hide {
  display: none;
}
