.editContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editButton {
  font-size: 16px;
  padding: 8px;
  border: none;
  background-color: #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editForm label {
  font-size: 16px;
  margin-bottom: 8px;
}

.editForm input,
.editForm textarea {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  width: 100%;
}

.editForm textarea {
  height: 100px;
}

.editForm button {
  font-size: 16px;
  padding: 8px;
  border: none;
  background-color: #008000;
  color: #fff;
  border-radius: 4px;
}
