:root {
  --cardWidth: 90%;
  --cardHeight: 200px;
  --Green100: #889466;
  --DarkGreen: #889466;
  --Green50: #aec17879;
  --Red100: #c17878;
  --Red50: #c1787881;
  --textColor: black;
  --roundedBorders: 15px;
  background-color: #f2f2f2;
}
html {
  background: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  min-height: 100vh;
}
body {
  margin: 0;
}
