.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.Deletewarning {
  width: 50vw;
  height: 50vw;
  border: 2px solid red;
  position: relative;
  top: 50%;
  left: 50%;
  transform: rotate(-50%, -50%);
}
